.planContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.planBox {
  text-align: center;
  width: 300px;
  border: 3px solid #ffc400;
  border-radius: 14px;
  padding-bottom: 2rem;
  margin: 2rem 0;
}

.planBox h4 {
  padding: 2rem 0;
  background: #ffc400;
  font-size: 1.5rem;
  color: #222;
}

.planBox li {
  list-style: none;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-bottom: 1px solid #ffc400;
  line-height: 26px;
}

@media (max-width: 800px) {
  .planContainer {
    justify-content: center;
  }
}
