* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #111111;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  padding: 2rem 0;
  color: red;
}

h3 {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
